@import "../card.scss";
@import "../step/step.component.scss";

.stage-item {
  margin-left: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  .card {
    padding: 21px 10px;
  }
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.13);
}