.container {
  height: 100vh;
  overflow: auto;
  position: relative;
}

app-stage {
  width: 33%;
}
.stages {
  padding: 5px;
  display: flex;
  &.terminal-open {
    height: calc(100vh + 300px);
  }
  &.terminal-close {
    height: 100vh;
  }
}