@import "../card.scss";

@mixin status-style ($status) {
  font-family: 'Material Icons';
  width: 22px;
  font-size: 11px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  transform: translateX(-10px);
  cursor: pointer;

  @if $status == success {
    content: "done";
    background-color: #23b4a4;
    color: #fff;
  } @else if $status == error {
    background-color: #e83f43;
    content: "priority_high";
    color: #fff;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  70% {
    opacity: .7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.step-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  animation: fade-in 0.3s ease-in-out;


  &.success::before {
    @include status-style(success);
  }
  &.error::before {
    @include status-style(error);
  }
}
.step {
  border-left: 5px solid #ccc;
  .step-img {
    margin-right: 10px;
    width: 30px;
  }
  .step-text {
    h6 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: #000;
      line-height: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      font-size: 12px;
      color: #000;
      line-height: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}