@import "../card.scss";
@import "../status.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  70% {
    opacity: .7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.step-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  animation: fade-in 0.3s ease-in-out;

  @include set-statuses();
  
  app-inline-step {
    width: 100%;
  }
}