<div class="terminal {{ isOpen ? 'open' : 'close' }}">
  <div class="terminal-header {{ step.status }}">
    <!-- <div class="steo-terminal-header {{ step.status }}">
      
    </div> -->
    <app-inline-step 
      className="terminal {{ step.status }}"
      [step]="step"
    ></app-inline-step>
    <button (click)="close()">X</button>
  </div>
  <div
    class="terminal-body" 
  >
    <app-metrics
      *ngIf="view === 'metrics'; else elseBlock"
      [name]="step.name"
      [metrics]="metrics"
    ></app-metrics>
    <ng-template #elseBlock>
      <app-logs
        *ngIf="view === 'output'; else elseBlock"
        [logs]="logs"
      ></app-logs>
    </ng-template> 
  </div>
  <div class="terminal-footer">
    <button 
      class="{{ view === 'output' && 'active' }}"
      (click)="showOutput()"
    >
      Output
    </button>
    <button
      class="{{ view === 'metrics' && 'active' }}"
      *ngIf="hasMetrics" 
      (click)="showMetrics()"
    >
      Metrics
    </button>
  </div>
</div>