<div class="terminal {{ isOpen ? 'open' : 'close' }}">
  <div class="terminal-header">
    <app-inline-step 
      className="terminal"
      [step]="step"
    ></app-inline-step>
    <button (click)="close()">X</button>
  </div>
  <div
    class="terminal-body" 
  >
    <!-- <app-logs
      *ngIf="view === 'output'; else elseBlock"
      [logs]="logs"
    ></app-logs>
    <ng-template #elseBlock> -->
      <app-metrics
        [name]="step.name"
        [metrics]="metrics"
      ></app-metrics>
    <!-- </ng-template>  -->
  </div>
  <div class="terminal-footer">
    <button (click)="showOutput()">Output</button>
    <button
      *ngIf="hasMetrics" 
      (click)="showMetrics()">Metrics</button>
  </div>
</div>