$active: #3e3e3e;
$bg-terminal-footer: #4e555d;

.terminal {
  box-shadow: 0 2px 11px 0 rgba(0,0,0,.25);
  width: 100vw;
  height: 440px;
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 1;
  transition: transform 0.4s ease-in-out;

  samp.log-output {
    display: block;
  }
  .terminal-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
    button {
      border: none;
      background-color: transparent;
      color: black;
    }
  }
  .terminal-body {
    height: calc(100% - 120px);
    margin: 10px 0;
  }

  &.close {
    transform: translateY(100%);
  }

  &.open {
    transform: translateY(0);
  }

  .terminal-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    background-color: $bg-terminal-footer;  
    button {
      &.active {
        background-color: $active;
      }
      cursor: pointer;
      padding: 8px 16px;
      color: white;
      border: none;
      background-color: transparent;
    }
  }
}